aws_region                = "ap-northeast-2"
project_name              = "cloud-portfolio"
environment               = "dev"
route53_zone_name         = "example.com"
domain_name               = "portfolio.example.com"
grafana_admin_user        = "admin"
grafana_admin_password    = "change-me"
jwt_secret_override       = "replace-this-in-real-env"
kafka_broker_count         = 3
kafka_broker_instance_type = "kafka.t3.small"
kafka_broker_volume_size   = 20
